h2 {
  margin-top: 5px;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  margin-top: 50px;
}

.status-light {
  width: 75px;
  height: 75px;
  display: inline;
}

.task-label {
  margin-right: 5px;
}

.hidden {
  display: none;
}
